<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Work Out Planner</title>
</head>

<body>
    <h1>Create DAILY WorkOut</h1>

    <form action="/quotes" method="POST">
        <input type="text" placeholder="name" name="name" />
        <input type="text" placeholder="quote" name="quote" />
        <button type="submit">Submit</button>
    </form>
    <h2> Quotes </h2>
    
    <ul class="quotes">
        <!-- Loop through quotes -->
        <% for(var i=0; i < quotes.length; i++) {%>
            <li class="quote">
                <!-- Output name from the iterated quote object -->
                <span>
                    <%= quotes[i].name %>
                </span>
                <!-- Output quote from the iterated quote object -->
                <span>
                    <%= quotes[i].quote %>
                </span>
                <span class="delete">delete </span>
            </li>
            <% } %>
    </ul>

    <div>
        <p>
            What the does the gym community have to say about that?
        </p>
        <button id="update-button">Find out</button>
    </div>

    <div>
        <h2>Remove Quote</h2>
        <p>
            Get rid of the unworthy
        </p>
        <button id="delete-button">Delete the quote</button>
    </div>

    <div id="message"></div>

    <script src="main.js"></script>
</body>



</html>